body {
	position: relative;
}

:root {
	--color-success: #26c614;
	--color-warning: #f7c94b;
	--color-danger: #e21c30;
	--magnolia: hsl(217, 100%, 97%);
	--alabaster: hsl(231, 100%, 99%);
	--pastel-blue: hsl(228, 100%, 84%);
	--lighter-color: #e0e0e7;
	--light-blue: hsl(206, 94%, 87%);
}

.table-data {
	margin-top: 2rem;
}

table {
	text-align: left;
	font-weight: 600;
	width: 100%;
	border-collapse: collapse;
}

table {
	width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

table thead th {
	padding: 0.75rem;
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

table tbody {
	border-top: 2px solid #dee2e6;
}

table th,
table td {
	padding: 0.3rem;
	padding-left: 1em;
}

table {
	border: 1px solid #dee2e6;
}

table th,
table td {
	border: 1px solid #dee2e6;
}

thead th,
thead td {
	border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
	transition: all 500ms ease;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: hsl(228, 100%, 84%);
	cursor: pointer;
	transition: all 500ms ease;
}

.table-striped tbody tr:nth-of-type(even):hover {
	background-color: hsla(228, 100%, 84%, 0.723);
}

.table-striped tbody tr:nth-of-type(odd):hover {
	background-color: #e6e1e1f2;
}


button.add-card {
	width: 19rem;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	border: none;
	outline: 0;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	padding: 0.85rem 30px;
	border-radius: 19px;
	color: rgba(0, 140, 177, 1);
	font-weight: bold;
	font-size: 1.35em;
	background: #d9dedf;
}

button.add-card span.fa {
	margin-right: 1.4rem;
	font-size: 1.3em;
	cursor: pointer;
}

.actions {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.actions button {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	border: none;
	outline: none;
	background: transparent;
	font-size: 1.44em;
	cursor: pointer;
}

.actions button>span.delete-icon {
	color: var(--color-danger);
}

.actions button>span.edit-icon {
	color: var(--color-success);
}

.card-form {
	position: absolute;
	top: 30%;
	width: 352px;
	left: 45%;
	margin-top: 90px;
	background: hsl(231, 100%, 99%);
	border-radius: 1.4rem;
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
	animation: animateForm 3s linear alternate;
	transition: all 7000ms ease;
	z-index: 1099;
	-webkit-transform: translate(-45%, -6%);
	-moz-transform: translate(-45%, -6%);
	-ms-transform: translate(-45%, -6%);
	-o-transform: translate(-45%, -6%);
	transform: translate(-45%, -6%);
}


@keyframes animateForm {
	0% {
		transform: translate(-45%, -30%) scale(0);
	}

	10% {
		transform: translate(-45%, -30%) scale(1);
	}

	100% {
		transform: translate(-45%, -30%) scale(1);
	}
}

form {
	padding: 20px 25px;
}

.card-form .field {
	width: 100%;
	margin-bottom: 1em;
}

.card-form .field label {
	display: block;
	color: var(--marine-blue);
	font-size: 1.25em;
	margin-bottom: 1rem;
	font-weight: 600;
}

.card-form input {
	background: var(--magnolia);
	padding-left: 13px;
	border-radius: 10px;
	outline: none;
	border: none;
	height: 40px;
	border:0.14rem solid #bfbfbf;
	width: 100%;
	font-size: 1.4em;
	font-weight: 700;
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
	color: var(--marine-blue);
}

.card-form input:focus {
	color: #212529;
	background-color: #fff;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.card-form button.btn {
	width: 100%;
	padding: 1rem;
	margin-top: 10px;
	border-radius: 1.3rem;
	outline: none;
	border: 3px solid var(--color-secondary);
	font-size: 1.15em;
	color: var(--color-white);
	background: #167ece;
	font-weight: 600;
	transition: all 0.2s ease;
}

.card-form .edit-btns {
	display: flex;
	gap: 1rem;
	flex-shrink: 0;
}

.field .error-txt {
	display: inline;
	color: #dc3545;
	margin-top: 0.95em;
	font-weight: 600;
	font-size: 10px !important;
}

.field.shake {
	animation: shake 0.2s ease-in-out;
}

form .field.shake input,
form .field.error input {
	border-color: #f75842;
}

form .field.valid input {
	border-color: #167ece;
}

form .field .error {
	display: none;
}

form .field.shake .error,
form .field.error .error {
	display: block;
}

.over-flow {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.4);
	backdrop-filter: blur(2px);
	z-index: 1;
}

.hidden {
	display: none;
	transition: 400ms all ease-in-out;
}

.over-flow span.close-icon {
	position: absolute;
	right: 20px;
	top: 15px;
	color: var(--lighter-color);
	font-size: 2.4em;
	font-weight: 700;
}

@keyframes shake {

	0%,
	100% {
		margin-left: 0px;
	}

	20%,
	80% {
		margin-left: -12px;
	}


	40%,
	60% {
		margin-left: 12px;
	}
}

@media (max-width:768px) {
	.over-flow {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: hsla(0, 0%, 0%, 0.4);
		backdrop-filter: blur(2px);
		z-index: 1;
	}

	.form-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}


}

@media (min-width: 426px) {
	.card-form {
		width: 400px;
	}

	.card-form {
		transform: translate(-44.5%, -14%);
	}
}

@media (min-width:768px) {
	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	.credit-card {
		width: 29rem;
	}

	.card-form {
		transform: translate(-38%, -4%);
		width: 460px;
		margin-top: 90px;
		transition: all 700ms ease-in-out;
		max-width: 100%;
	}

	.card .flex-field {
		display: flex;
		flex-shrink: 0;
		flex-direction: column;
	}
}

@media (min-width:830px) {

	.over-flow {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: hsla(0, 0%, 0%, 0.4);
		backdrop-filter: blur(2px);
		z-index: 1;
	}

	.card-form {
		width: 435px;
		-webkit-transform: translate(-43%, -32%);
		-moz-transform: translate(-43%, -32%);
		-ms-transform: translate(-43%, -32%);
		-o-transform: translate(-43%, -32%);
		transform: translate(-43%, -32%);
	}

	.cards {
		grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
	}

	.credit-card {
		width: 35rem;
	}

	.card-form .flex-field {
		display: flex;
		flex-direction: ro;
		gap: 1rem;
		flex-shrink: 0;
	}
}
