@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --container-width-lg: 148rem;
  --container-width-md: 992px;
  --container-width-xm: 768px;
  --navigation-height: 5.5rem;
  --color-primary: #444BD3;
  --color-secondary: #4E8AF4;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --text-primary: #121127;
  --text-secondary: rgba(18, 17, 39, 0.72);
  --color-white: hsl(0 100% 100%);
}

body {
  height: 100vh;
  font-family: Ubuntu;
  position: relative;
}

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
  padding: 0 2.5rem;
}

.btn {
  padding: 0.65rem 2.5rem;
  display: inline-flex;
  border-radius: 0.55rem;
  font-size: 1.35em;
  font-weight: 700;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn-outline {
  color: var(--text-primary);
}

.btn-secondary {
  font-weight: 600;
  color: var(--text-secondary);
}

.app-navigation {
  height: var(--navigation-height);
  padding: auto;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav-container a.nav-logo {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  gap: 7px;
}

.nav-container a.nav-logo span {
  font-size: 1.65em;
  font-weight: 800;
}

.nav-container a.nav-logo>span.fa {
  color: #444BD3;
  font-size: 2.5em;
}

.nav-action {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
}

a.sign {
  color: var(--text-primary);
}

.nav-action .notification-container {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

.notification-container span#open-btn,
.nav-menu-container span.close-icon {
  display: none;
}


li.nav-item a.nav-link {
  color: var(--text-secondary);
  font-size: 1.55em;
  font-weight: 800;
}

/* Hero Stylings */
.hero-container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 1.5rem;
}

.heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 6.3rem;
  color: var(--text-primary);
}

.paragraph {
  font-size: 1.55rem;
  color: var(--text-secondary);
  padding: 1rem 0;
}

.hero-image {
  height: 100%;
  width: 100%;
}

.features-container {
  padding: 3.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
}

.features-item {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 1rem;
}

.features-item h3 {
  font-size: 1.85em;
  font-weight: 600;
}

.nav-menu-container span.close-icon {
  position: absolute;
  top: 20px;
  color: var(--color-white);
  right: 30px;
}

@media screen and (max-width:425px) {
  .nav-container {
    gap: 8.5rem;
  }

  .heading {
    font-size: 3rem;
    line-height: 4.2rem;
  }

  .features-container .features-item {
    width: 43rem;
  }
}

@media screen and (max-width:768px) {
  .container {
    max-width: var(--container-width-md);
    margin: auto auto;
    padding: 0 1.5rem;
  }

  .notification-container span#open-btn,
  .nav-menu-container span.close-icon {
    display: block;
    font-size: 2.4em;
    cursor: pointer;
  }

  .nav-menu-container {
    position: fixed;
    padding: 45px 10px;
    top: 0;
    left: -100%;
    height: 100%;
    width: 50%;
    background: var(--text-primary);
    transition: all 600ms ease;
    overflow: hidden;
  }

  .nav-menu-container.active {
    left: 0;
    transition: all 600ms ease;
  }

  ul.nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu-container.active li.nav-item {
    opacity: 1;
    margin-left: 30px;
  }

  li.nav-item {
    display: block;
    margin-top: 4rem;
    text-align: center;
    opacity: 0;
    margin-left: 300px;
    position: relative;
    transition: all 600ms ease;
  }

  .nav-menu-container.active li.nav-item:nth-child(1) {
    transition-delay: 1s;
  }

  .nav-menu-container.active li.nav-item:nth-child(2) {
    transition-delay: 1.5s;
  }

  .nav-menu-container.active li.nav-item:nth-child(3) {
    transition-delay: 2s;
  }

  .nav-menu-container.active li.nav-item:nth-child(4) {
    transition-delay: 2.5s;
  }

  .nav-menu-container.active li.nav-item:nth-child(5) {
    transition-delay: 3s;
  }

  li.nav-item::after {
    position: absolute;
    content: "";
    top: 28px;
    left: -100%;
    right: 100%;
    width: 0;
    height: 0.25rem;
    background: var(--color-danger);
    transition: all 600ms ease;
  }

  li.nav-item:hover::after {
    width: 100%;
    left: 0;
  }

  li.nav-item a.nav-link {
    color: var(--color-white);
    font-size: 1.55em;
    font-weight: 800;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-image {
    grid-row: 1;
    text-align: center;
  }

  .hero-image img {
    width: 45rem;
    height: auto;
  }

  .features-container {
    padding: 3.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media (max-width:992px) {
  .nav-container {
    gap: 6rem;
  }

  .features-container {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

@media (max-width:1400px) {
  ul.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  li.nav-item {
    display: inline-flex;
    margin: 0 1rem;
  }
}
