@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primary: linear-gradient(#3127d3, #080624dd, #08053add);
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-white: hsl(0 100% 100%);
}

body {
  height: 100vh;
  background: #625be7;
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App-demo {
  padding: 1rem;
}

h1.demo-title{
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-white);
}

p.demo-text{
  word-wrap: break-word;
  color: var(--color-white);
  font-size: 1.4em;
}

p.demo-text span.bold{
  font-weight: 600;
}

p.demo-text span.
