@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: linear-gradient(#3127d3, #080624dd, #08053add);
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-white: hsl(0 100% 100%);
    --marine-blue: hsl(213, 96%, 18%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
}

body {
    min-height: 100vh;
    font-family: Ubuntu;
    position: relative;
    background: #ecf0f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: #ecf0f3;
    border-radius: 1.4rem;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
    overflow: hidden;
}

.header h1.main-title {
    color: var(--marine-blue);
    font-size: 2.4em;
    margin: 0;
    margin-left: 1rem;
}

.header {
    background: #f7f7f7;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
    padding: 20px 30px;
}

form {
    padding: 20px 25px;
}

h2.form-title {
    color: var(--marine-blue);
    font-size: 2.2em;
    font-weight: 900;
    margin-bottom: 0.4rem;
    margin-left: 2rem;
    margin-top: 1.35rem;
}

p.form-text {
    color: var(--cool-gray);
    font-size: 1.45em;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 1rem;
}


.form-container .field:not(.password-confirm) {
    width: 100%;
    margin-bottom: 1em
}

.input-container small {
    display: inline-block;
    margin-top: 0.95em;
    font-weight: 600;
    visibility: hidden;
}

.input-container.error small {
    color: #f75842;
    visibility: visible;
}

.form-container .field label {
    display: inline-block;
    color: var(--marine-blue);
    font-size: 1.25em;
    margin-bottom: 1rem;
    font-weight: 600;
}

.field {
    position: relative;
}

.input-container input {
    border: 2px solid #f0f0f0;
    background: var(--magnolia);
    padding: 13px;
    display: block;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
    color: var(--marine-blue);
}

.input-container.success input {
    border-color: #00bf8e;
}

.input-container.error input {
    border-color: #f75842;
}

.input-container span {
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 36px;
    font-size: 1.3em;
    visibility: hidden;
}

.input-container.success span.fa-circle-check {
    color: #167ece;
    visibility: visible;
}

.input-container.error span.fa-exclamation-circle {
    color: #f75842;
    visibility: visible;
}

.form-container p.form-label {
    margin-top: 1rem;
    font-size: 1.25em;
    font-weight: 600;
}


.form-container p.form-label>a {
    color: #167ece;
}

.form-container p.form-label>a:hover{
    text-decoration: underline;
}

.form-container button.btn {
    width: 100%;
    margin-top: 2.5rem;
    padding: 1rem;
    border-radius: 1.3rem;
    border: none;
    outline: none;
    font-size: 1.35em;
    color: var(--color-white);
    background: #167ece;
    font-weight: 600;
    transition: all 0.2s ease;
}

.form-container button.btn:active {
    transform: scale(0.9);
}

.form-container button.btn:hover {
    background: #2c52ed;
}

::placeholder {
    color: var(--cool-gray);
    font-size: 1.15em;
}



@media screen and (max-width:425px) {
    .main-container {
        width: 450px;
        max-width: 85%;
    }
}

@media screen and (max-width:768px) {
    .main-container {
        width: 450px;
        max-width: 100%;
    }

    p.form-text {
        font-size: 1em;
    }
}


@media screen and (min-width:769px) {
    .main-container {
        width: 450px;
        max-width: 100%;
    }
}
