@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --container-width-xl: 1240px;
  --container-width-lg: 1140px;
  --container-width-md: 720px;
  --container-width-sm: 720px;
  --container-width-xm: 100%;

  --color-primary: linear-gradient(#3127d3, #080624dd, #08053add);
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-white: hsl(0 100% 100%);
}

body {
  height: 100vh;
  background: #eeeeee;
  font-family: Ubuntu;
  position: relative;
}
